@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Questrial, sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1400px;
    margin:auto;
}

.flex{
    max-width: 100%; /* Alterei para 100% para ocupar a largura total */
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
   
}

.menus{
    font-size: 20px;
}

header{
    padding-inline: 16px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 999;
}

.icons{
    width: 100px;
    font-size: 20px;
}

header a{
    letter-spacing: 1px;
    color: #fff;
}
/*inicio - barra de rolagem*/
header.roll{
    background-color: #A9907E;
    padding: 0px;
}

header.roll a{
    color: #fff;
}
/*fim - barra de rolagem*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: #cacaca; 
}

.logo-icon{
    height: 140px;
}

header ul{
    list-style-type: none;
    display: flex; /* Adicionado para garantir que a lista seja exibida em linha */
}

header ul li{
    display: inline-block;
    margin: 0 20px; /* Reduzi a margem para ficar mais compacto */
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* video de fundo*/
.main video{
    width: 100%;
    height: 118%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title{
    /* color: #fff; */
}

/* .video{
    width: 100%;
    opacity: 0.8;
} */

.icons{
    display: flex;
    justify-content: space-between;
    max-width: 10%;
}




/* .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    header >> padding: 60px 4%;
} */