@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Questrial, sans-serif;
}

html{
    height: 100vh;
}

.container{
    max-width: 1400px;
    margin:auto;
}

.flex{
    max-width: 100%; /* Alterei para 100% para ocupar a largura total */
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
   
}

.menus{
    font-size: 20px;
}

header{
    padding-inline: 16px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 999;
    background-color: #A9907E;
}

.icons{
    width: 100px;
    font-size: 20px;
}

header a{
    letter-spacing: 1px;
    color: #fff;
}
/*inicio - barra de rolagem*/
header.roll{
    background-color: #a4a09f;
    padding: 0px;
}

header.roll a{
    color: #fff;
}
/*fim - barra de rolagem*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: #cacaca; 
}

.logo-icon{
    height: 140px;
}

header ul{
    list-style-type: none;
    display: flex; /* Adicionado para garantir que a lista seja exibida em linha */
}

header ul li{
    display: inline-block;
    margin: 0 20px; /* Reduzi a margem para ficar mais compacto */
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


/*LOGIN*/
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.967);
    background-image: url(../img/fundo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    /* background-color: #CEAB93; */
    backdrop-filter: blur(3px) saturate(126%);
    -webkit-backdrop-filter: blur(3px) saturate(126%);
    background-color: rgba(120, 78, 41, 0.329);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border: 3px solid rgba(255, 255, 255, 0.193);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.233);
}

.login-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.input-box {
    margin:20px 0;
}


.input-box input {
    width: 100%;
    background: rgba(255, 255, 255, 0.334);
    border: none;
    padding: 12px 12px 12px 30px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 500;
}

.input-box .bi-lock-fill {
    background: center;
    position: absolute;
    left: 50px;
    top: 48%;
    transform: translateY(90%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}


.input-box .bi-person-fill {
    background: center;
    position: absolute;
    left: 50px;
    top: 30%;
    transform: translateY(90%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.input-box input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.remember-forgot-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 15px;
   
}

.remember-forgot-box label{
    display: flex;
    gap: 8px;
    cursor: pointer;
    margin: 5px 5px 5px 0;
}

.remember-forgot-box input{
    accent-color: white;
    cursor: pointer;
}

.remember-forgot-box > a {
    color: white;
    text-decoration: none;
}

.remember-forgot-box a {
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    padding: 4% 0;
    background: #ffffff1e;
    border: none;
    border-radius: 99px;
    color: rgba(255, 248, 248, 0.929);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #dcd0d0fa;
}

.register {
    margin-top: 15px;
    font-size: 15px;
}

.register a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.register a:hover {
    text-decoration: underline;
}