.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 100vh;
}

body{
    background-image: url("../img/fundo_login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.users{
    display: flex;

}